@import url("./fonts-setup.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow : hidden;
}
body {
    --highlight-color : #9875d1;
    --link-color : #478be6;
    &:not(.dark){
        --primary-text-color : #48506D;
        --layout-color : #FFFFFF;
        --quote-inspiration-bg : rgb(244, 241, 241);
        --quote-inspiration-bg-bar : rgb(179, 178, 178);

    }
    &.dark {
        --layout-color : #242424;// #413C46;
        --primary-text-color : #e2e4ec;
        --quote-inspiration-bg : #493d57;
        --quote-inspiration-bg-bar : #9875d1;

    }
    font-size: 18px;
    color: var(--primary-text-color);
    background-color: var(--layout-color);
    transition: background-color .3s ease-out , color .3s ease-out;
    .app_container {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

pre.hljs {
    padding: 20px;
    // background: #d4d4d4;
    transition: background-color .3s ease-out , color .3s ease-out;
    code {
        font-size: 14px;
    }
}

.border_only {
    border-top: 1px solid  var(--primary-text-color);
    opacity: .5;
}
.project_demo_link {
    color: var(--highlight-color);
}
.experience_list {
    list-style-type: disc;
    margin-left: 20px;
}
.app_layout_fixed {
    width: 90vw;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
    .app_header {
        .bl_profile {
            display: flex;
            align-items: center;
            gap: 10px;
            img.profile_header {
                width: 30px;
            }
            .pf_title {
                font-size: 22px;
                color: var(--highlight-color);
                font-weight: 500;
            }
        }

    }

    .contact_list {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_content {
        display: flex;
        justify-content: center;
        margin: 100px 0;
        color: var(--highlight-color);
    }
    .demo_img {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        .demo_img_item {
            width: 100%;
        }
        .img_wrapper {
            background-position: center;
            background-size: cover;
            width: 100%;
            background-color: rgb(224, 224, 224);
            &:not(.single_img_mode) {
                height: 300px;
            }
            &.single_img_mode {
                height: 400px;
            }
            // &:first-of-type{
            //     background-image: url('/src/app/assets/apd_team.png');
            // }
            // &:last-of-type {
            //     background-image: url('/images/s4.jpg');
            // }
            
        }
    }
}




/* Tablet and up */
@media (min-width: 768px) {
    .app_layout_fixed {
        width: 90vw !important;
        .demo_img {
            flex-direction: row !important;
            hr {
                display: none;
            }
        }
    }
}

/* Desktop and up */
@media (min-width: 1024px) {
    .app_layout_fixed {
        width: 80vw !important;
    }
    
}

/* mobile only */
@media (max-width: 500px) {
    .demo_img .demo_img_item .img_wrapper {
        &:not(.single_img_mode){
            height: 200px;
        }
        &.single_img_mode {
            height: 200px;
        }
    } 
    
}


// ====> Intersection Observer Transition class

// fadeIn
.__fadeIn_element {
    opacity: 0;
    transition: opacity .2s ease;
}
.__fadeIn_element.__fadeIn_element_active {
    opacity: 1;
}

// fadeInUp
.__fadeInUp_element {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .3s ease , transform .2s ease-out;
}
.__fadeInUp_element.__fadeInUp_element_active {
    opacity: 1;
    transform: translateY(0);
}

.________test {
    background-color: red;
}